[submodule "tools/maspsx"]
	path = tools/maspsx
	url = https://github.com/mkst/maspsx.git
[submodule "tools/asm-differ"]
	path = tools/asm-differ
	url = https://github.com/simonlindholm/asm-differ.git
